<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgerAjax.js"></script>
    <title>Burger Cravings</title>
</head>

<body class="bg-warning">
    <div class="container">
        <div class="jumbotron jumbotron-fluid mb-4 d-flex flex-row align-items-center 
            justify-content-center rounded bg-success text-white text-center" style="margin-top: -35px">
            <img class="mr-5" src="/assets/img/burger.png" style="width: 160px; height: 160px;" alt="burger drawing">

            <div class="d-flex flex-column">
                <h1 class="display-4">Burger Cravings</h1>
                <p class="lead">What crazy burger combinations are in your head?</p>
            </div>

            <img class="ml-5" src="/assets/img/burger.png" style="width: 160px; height: 160px" alt="burger drawing">
        </div>

        {{{ body }}}

    </div>

    <div class="container">
        <div class="row fixed-bottom">
            <img class="ml-5" src="/assets/img/fries.png" style="width: 125px; height: 65px;" alt="fries drawing">
        </div>
    </div>

    <footer class="footer fixed-bottom m-4">
        <div class="container text-center">
            <i class="fab fa-github" aria-hidden="true"></i> <a class="text-danger"
                href="https://github.com/gloriousLoaf" target="_blank">gloriousLoaf</a> &copy;2020
        </div>
    </footer>

</body>

</html>