<div class="row">

    <div class="col-sm-4">
        <h2 class="text-center">Burgers On Deck</h2>
        <ul style="list-style-type:none;">
            {{#each burgers}}
            {{#unless devoured}}
            <span>
                <li class="mt-3 mr-3 mb-3">{{ this.name }}
                    <button class="btn btn-sm btn-dark float-right shadow-none devour" data-id="{{ this.id }}"
                        data-newDevoured="{{ devour }}" type="submit">Devour</button></li>
            </span>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-sm-4 d-flex flex-column align-items-center">
        <h2>Add a Burger</h2>
        <form class="create-form">
            <div class="form-group input-group input-group-lg text-center">
                <input class="form-control mt-3 shadow-none" type="text" id="newBurger" name="name"
                    placeholder="What's good?">
            </div>
            <div class="text-center">
                <button class="btn btn-dark mt-3 shadow-none" id="add-burger" type="submit">Add
                    Burger</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <h2 class="text-center">Burgers Devoured</h2>
        <ul style="list-style-type:none;">
            {{#each burgers}}
            {{#if devoured}}
            <li class="m-3">{{ this.name }}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>